:root {
    --primary: #062f4f;
    --secondary: rgb(255, 255, 255);
    --hoverSecundary: #e6f3fdc7;
    --tertiary: #1168aac7;
    --white: #fff;
    --black: #000;
    --title: white;
    --subtitle: black;
    --text: black;
    --description: #062f4f;
    --button: #062f4f;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background:linear-gradient(to bottom, var(--primary), var(--tertiary)); 
}

#proyectoHamburguesas {
    height: 100vh;
    padding: 50px;
}
#proyectoHamburguesas h2 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    padding: 20px;

}

#proyectoHamburguesas div {
    font-size: 24px;
    color: white;
    font-weight: bold;
    line-height: 40px;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: center;
}

.video {
    width: 90%;
}